@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
:root {
    --lightbrown: #c37943;
    --darkbrown: #40322b;
    --orange: #dd811c;
    --tan: #e3cdb7;
    --cream: #d5a36a;
    --blue: #91c3b3;
    --yellow: #f8c560;
}

body {
    background-color: var(--tan);
}

h1 {
    font-family: 'Caprasimo';
    margin: 0%;
    font-size: 52px;
    text-shadow: 3px 3px 5px black;
    color: var(--orange);
    -webkit-text-stroke: 1px var(--darkbrown);
    transform: rotate(-3deg);
}

.headerBox {
    display: flex;
    justify-items: start;
    align-items: center;
    height: 125px;
    width: 100%;
    background-color: var(--lightbrown);
    border: groove var(--darkbrown);
    border-width: 5px 5px 10px 5px;
}

.headerInner {
    padding-left: 200px;
}

.subheader {
    font-family: 'Caprasimo';
    font-size: 18px;
    margin: 0%;
    text-align: center;
    color: var(--darkbrown); 
}

.alignBox {
   justify-content: center;
   align-items: center;
   display: flex;
   height: 50px;
   width: 100px;
   margin-left: 200px;
   margin-top: 35px;
}

.searchBox {
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    height: 44px;
    box-shadow: 3px 3px 3px var(--darkbrown);
}

.searchBoxInner {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 0 0 0 12px;
}

.searchForm {
    margin-right: 12px;
    width: 100%;
}
.searchInput {
    background: none;
    border: none;
    outline: none;
}

.searchBtn {
    background: none;
    border: none;
    border-left: 1px solid black;
    width: 90px;
    height: 100%;
}

.dropAlign {
    padding: 0px 3px 2px 3px;
}

.dropdown {
    display: none;
    justify-items: center;
    align-items: center;
    margin: 0;
    background-color: white;
    border-radius: 15px;
    padding-top: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.textBox {
    padding: 2px 6px 2px 6px;
    margin: 2px 2px 2px 2px;
}

.searchBtn:hover {
    cursor: pointer;
}

.weatherDisp {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.weatherBackground {
    display: flex;
    flex: 1 0 200px;
    vertical-align: auto;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 30px 30px 0px;
    height: 250px;
    max-width: 200px;
    background-color: var(--cream);
    box-shadow: 3px 3px 3px var(--darkbrown);
}

.weatherInner {
    font-family: 'caprasimo';
    font-size: 20px;
    color: var(--orange);
    -webkit-text-stroke: .015mm var(--darkbrown);
    justify-content: center;
    display: flex;
    width: 94%;
    height: 94%;
    background-color: var(--yellow);
}

.newsBox {
    position: absolute;
    display: flex;
    top: 240px;
    left: 1400px;
    background-color: #40322b;
    width: 400px;
    height: 700px;
    margin: 10px 10px 10px 10px;
}

.newsDisp {
    display: flex;
    flex-direction: row;
    flex: 1 0 200px;
    justify-content: center;
    background-color: var(--blue);
    height: 250px;
    width: 100px;

}

#advertBox1 {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: var(--cream);
    margin-left: auto;
    margin-right: 30px;
    box-shadow: 3px 3px 3px var(--darkbrown);

}

#advertBox2 {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: var(--cream);
    box-shadow: 3px 3px 3px var(--darkbrown);
    margin: 10px 0px 5px 430px;
}
